@using EllipsePaymentService.Models;

@{
    var payment = (Dictionary<string,string>)Model;
}
<div class="main">
    <h1>Select payment method</h1>
    <div class="items-row">
        <form method="post" onclick="sendForm(this)" asp-antiforgery="false">
            <input type="hidden" value="card" name="method" />           
            <img src="/img/card.jpg" alt="card" class="item" />
        </form>
        <form method="post" onclick="sendForm(this)" asp-antiforgery="false" >
            <input type="hidden" value="klarna" name="method" />           
            <img src="/img/clarna.svg" alt="klarna" class="item" />
        </form>
    </div>
</div>
